@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #000000;
}

h2{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}

#logo{
    float: left;
    font-size: 280%;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}

#gymhome-image{
    height:600px;
    width: 100%;
    background: url("../images/gymhome.jpg") no-repeat center center;

    animation-name: gymhome-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#gymhome-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes gymhome-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}



#weights-image{
    height:600px;
    width: 100%;
    background: url("../images/weights.jpg") no-repeat center center;

    animation-name: weights-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#weights-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes weights-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}