@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}


/* home page photo under nav bar */

#gymhome-image{
    height:600px;
    width: 100%;
    background: url("../images/gymhome.jpg") no-repeat center center;

    animation-name: gymhome-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#gymhome-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes gymhome-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

/* timetable page photo under nav bar */

#weights-image{
    height:600px;
    width: 100%;
    background: url("../images/weights.jpg") no-repeat center center;

    animation-name: weights-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#weights-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes weights-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* sign-in page photo under nav bar */

#strong-image{
    height:600px;
    width: 100%;
    background: url("../images/strong.jpg") no-repeat center center;

    animation-name: weights-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#strong-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes strong-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* our gym page photo under nav bar */

#secondweight-image{
    height:600px;
    width: 100%;
    background: url("../images/secondweight.jpg") no-repeat center center;

    animation-name: secondweight-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#secondweight-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes secondweight-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* membership options heading */

#options{
    width: 150px;
    margin: 10px auto 10px auto;
    font-size: 280%;
    
}

/* free day pass container */

.pass{
    
    border-width: 2px;
    border-style: groove;
    padding: 10px;
    text-align: center;
    width: 31.3%;
    float: left;
    margin: 1%;
    border-color: #000000
}

/* off peak pass container */

.offpeak{
    
    border-width: 2px;
    border-style: groove;
    padding: 10px;
    text-align: center;
    width: 31.3%;
    float: left;
    margin: 1%;
    border-color: #000000
}

/* all access pass container */

.allaccess{
    
    border-width: 2px;
    border-style: groove;
    padding: 10px;
    text-align: center;
    width: 31.3%;
    float: left;
    margin: 1%;
    margin-right: 0%;
    border-color: #000000;
    
}

/* gallery photo container */ 

#gallery-outer {
    padding: 0px;
    text-align: center;
    width: 40%;
    float: left;
    margin: 4%;
    border-color: #000000
}

#gallery-image {
    height:300px;
    width: 100%;
    background: url("../images/800runner.jpg") no-repeat center center;
    animation-name: secondweight-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes secondweight-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* facilities photo container */ 

#facilities-outer {
    padding: 0px;
    text-align: center;
    width: 40%;
    float: right;
    margin: 4%;
    border-color: #000000
}

#facilities-image{
    height:300px;
    width: 100%;
    background: url("../images/800yoga.jpg") no-repeat center center;

    animation-name: secondweight-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes secondweight-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}




/* opening times container */

.openingtimes {
    border-width: 2px;
    border-style: groove;
    padding: 10px;
    text-align: center;
    width: 31.3%;
    float: left;
    margin: 1%;
    border-color: #000000

}

/* map container */

.map {
    border-width: 2px;
    border-style: groove;
    padding: 10px;
    text-align: center;
    width: 31.3%;
    float: left;
    margin: 1%;
    border-color: #000000

}

/* contact us container */

.contactus {
    border-width: 2px;
    border-style: groove;
    padding: 10px;
    text-align: center;
    width: 31.3%;
    float: right;
    margin: 1%;
    border-color: #000000

}

/* sign-in page */

#user {
    color:rgba(241, 109, 107, .7)
}




/* timetable page */

table {
    border-spacing: 0px;
}

th, td {
    padding: 10px 60px 10px 20px;
    border-spacing: 0px;
    font-size: 100%;
    margin: 0px;
}

th, td {
    text-align: left;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr .head, th {
    color: #ffffff;
    background-color: #90b4d6;
    border-bottom: 2px solid #6d6e6f;
    border-right: 1px solid #547ca0;
    border-top: 1px solid #749abe;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;

}

td {
    text-shadow: 1px 1px 1px #ffffff;
}

tr .even td, tr .even th {
    background-color: #e8eff5;

}

tr .head th:first-child {
    border-top-left-radius: 5px;

}

tr .head th:last-child {
    border-top-right-radius: 5px;
}

